<!DOCTYPE html>
<html>
	<head>
		<title>Gabriel Malta</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Página Inicial</a></li>
	        	<li><a href="/sobre">Sobre mim</a></li>
        		<li><a href="/cv">Currículo</a></li>
        		<li><a href="/outros">Outros</a></li>
    		</ul>
		</nav>
		
		<div class="container">
			
			{{ content }}
		</div><!-- /.container -->
		
		<footer>
    		<ul>
        		<li><a href="mailto:gabriel.malta@alumni.usp.br">E-mail</a></li>
        		<li><a href="https://github.com/maltagabriel">GitHub</a></li>
			<li><a href="http://lattes.cnpq.br/6164790601722355">Lattes</a></li>
			<li><a href="https://orcid.org/0000-0002-5915-7171">ORCID</a></li>
			<li><a href="https://www.skoob.com.br/usuario/410049-malta">Skoob</a></li>
			</ul>
		</footer>
	</body>
</html>
